<div class="main">
  <div class="points" [textContent]="points"></div>
  <div class="brp" [textContent]="brp"></div>
  <div class="actions">
    <div class="action clear" (click)="clear()"><span>✘</span></div>
    <div class="word">
      <input
        [(ngModel)]="value"
        (focus)="clear()"
        (keydown.enter)="attempt()"
      />
    </div>
    <div class="action attempt" (click)="attempt()"><span>✔</span></div>
  </div>
  <h4
    [class.success]="lastResult"
    [class.failure]="!lastResult"
    [textContent]="lastWord"
  ></h4>
  <div
    class="meaning"
    [class.success]="lastResult"
    [class.failure]="!lastResult"
    [textContent]="lastMeaning"
  ></div>
</div>
